@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --base-skew-angle: -8deg;
    --base-skew-padding: calc(abs(tan(var(--base-skew-angle)) * 100vw * 0.5));

    --page-total-height: calc(100vh + var(--base-skew-padding) * 2);
}

@utility skew {
    transform: skewY(var(--base-skew-angle));
}

@utility unskew {
    transform: skewY(calc(var(--base-skew-angle) * -1));
}

@utility rotate {
    rotate: var(--base-skew-angle);
}

@utility derotate {
    rotate: calc(var(--base-skew-angle) * -1);
}
